#spring.application.name=ecommerce-application
#spring.h2.console.enabled=true
#spring.datasource.url=jdbc:h2:mem:test
# spring.jpa.show-sql=true
# spring.jpa.hibernate.ddl-auto=create
##don't expose all ,it's not good in production
#management.endpoints.web.exposure.include=*

spring:
  application:
    name: e_commerce_microservices

#  h2:
#    console:
#      enabled: true

#  datasource:
#    url: jdbc:h2:mem:test
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:postgresql://localhost:5432/ecom_microservices_db
    username:
    password:

  jpa:
    database:  POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect




management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
    shutdown:
      access: UNRESTRICTED

  info:
    env:
      enabled: true




